

body {
	background-image: url('../images/backgroundHome.jpg');
}

#background {
	background-color: #1E1D1D ;
}

h1 {
    color: white;
}

.main{
	color: white;
	font-size: 20px;
}

em {
	color: #3891d4;
}

.fa { 
	 padding: 10px;
  font-size: 20px;
  width: 40px;
  text-align: center;
  text-decoration: none;
  margin: 5px 5px;
  border-radius: 50%;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}
.fa-instagram {
  background: #125688;
  color: white;
}
div.center {
  display: flex;
  justify-content: center;
  align-items: center;


}
