body {
    background-image: url(../images/background1.jpg);
    background-color: lightblue;
}

div.center {
	display: flex;
	justify-content: center;
	align-items: center;


}


.text {
    text-align: center;
    color: white; 
    
}

#spin:hover {
	transition: transform 1s ease;
	transform: rotate(360deg);
}
