body {
    background-image: url(../images/BlueBackground.jpg);
    background-color: red;
}

div.center {
	display: flex;
	justify-content: center;
	align-items: center;


}


.text {
    text-align: center;
    color: white; 
    
}